<div class="block">  
  <div class="container">
    <div class="container-fluid">
     <blockquote class="pull-quote">
      <h1>
        <%= @current_user.first_name %>'s Friends' Ratings
      </h1>
        <% @f_reviews.each do |f| %>
          <ul>
            <li>
              <%= f.name.first_name %>
              <%= f.name.last_name %>: 
              <a href="/movie_status_page/<%= f.movie_id %>"><%= f.title %>:</a>
              <%= f.stars %> stars
            </li>
          </ul>
        <% end %>
      </blockquote>
    </div>
  </div>
</div>