This will display all ratings of all friends for one user.



for each friend object we want the match object out of ratings db


  <% @f_reviews.each do |f| %>
    <ul>
      <%= f.name.first_name %>
      <%= f.name.last_name %>: 
      <a href="/movie_status_page/<%= f.movie_id %>"><%= f.title %>:</a>
      <%= f.stars %> stars
    </ul>
<% end %>
