this shows all of a user's friends :)

<% @all_my_friends.each do |friend| %>
  <a href="/friends_dashboard/<%= friend.id %>">
  <%= friend.first_name %>
  <%= friend.last_name %>
  <%= friend.user_id %>
  </a>
  <form action="/delete_friend/<%= friend.user_id %>" method="post">
    <input type="submit" value="Delete Friend">
  </form>
<% end %>