<!-- this shows all of a user's friends :) -->
<form action="/submit_logout" method="post">
  <input type="submit" value="Log Out!">
</form>

<% @all_my_friends.each do |friend| %>
  <a href="/friends_dashboard/<%= friend.friend_id %>">
  <%= friend.first_name %>
  <%= friend.last_name %>
  <%= friend.friend_id %>
  </a>
  <form action="/delete_friend/<%= friend.friend_id %>" method="post">
    <input type="submit" value="Delete Friend">
  </form>
<% end %>

<p>
<a href="/all_friends_reviews">View Friends' Reviews</a>
</p>

<p>
<a href="/add_review">Add A Review</a>
</p>

<p>
<a href="/list_of_users">Add A Friend</a>
</p>

<p>
<a href="/dashboard">View My Dashboard</a>
</p>