<div class="block">  
  <div class="container">
    <div class="container-fluid">
     <blockquote class="pull-quote">
      <h1>
        <%= @current_user.first_name %>'s Friends
      </h1>
        <% @all_my_friends.each do |friend| %>
          <a href="/friends_dashboard/<%= friend.friend_id %>">
          <%= friend.first_name %>
          <%= friend.last_name %>
          <%= friend.friend_id %>
          </a>
          <form action="/delete_friend/<%= friend.friend_id %>" method="post">
            <input type="submit" value="Delete Friend" class="btn btn-sm btn-pill btn-primary">
          </form><br>
        <% end %>
      </blockquote>
    </div>
  </div>
</div>