  <!-- this will show a poster of the movie, all of your friends who have reviewed the movie, and their average rating. -->
<div class="block block-inverse">
  <div class="container">
    <h1 class="text-center"><%= @movie.title %></h1>
    <div><img class="center-block" src="<%= @movie.image_name %>"></div>
    <div>
      <p class="text-center h4"><%= @avg %> average stars from your friends.</p>
    </div>
    <div>
      <% @ratings.each do |rating| %>
      <p class="h5 text-center">
      <%= rating.name.first_name %> 
      <%= rating.name.last_name %> - 
      <%= rating.stars %> stars
      </p>
      <% end %>
    </div>
  </div>
</div>