<!-- This page will display the movie info stored in database and buttons that allow a user to score it.  -->

<form action="/submit_logout" method="post">
  <input type="submit" value="Log Out!">
</form>


  <h1><%= @movie.title %></h1>
  <p><img src="<%= @movie.image_name %>"></p>

  <table border="0">
  <tr>
    <td>
      <form action="/submit_movie_review/<%= @movie.id %>/<%= @current_user.id %>/1" method="post"> 
        <input type="submit" value="1 STAR">
      </form>
    </td>

    <td>
      <form action="/submit_movie_review/<%= @movie.id %>/<%= @current_user.id %>/2" method="post"> 
        <input type="submit" value="2 STAR">
      </form>
    </td>

    <td>
      <form action="/submit_movie_review/<%= @movie.id %>/<%= @current_user.id %>/3" method="post"> 
        <input type="submit" value="3 STAR">
      </form>
    </td>

    <td>
      <form action="/submit_movie_review/<%= @movie.id %>/<%= @current_user.id %>/4" method="post"> 
        <input type="submit" value="4 STAR">
      </form>
    </td>

    <td>
      <form action="/submit_movie_review/<%= @movie.id %>/<%= @current_user.id %>/5" method="post"> 
        <input type="submit" value="5 STAR">
      </form>
    </td>

  </tr>
</table>


<form action="/update_movie/<%= @movie.id %>">
  <input type="submit" value="Update Movie">
</form>


<p>
<a href="/view_friends_reviews">View Friends' Reviews</a>
</p>

<p>
<a href="/add_review">Add A Review</a>
</p>

<p>
<a href="/list_of_users">Add A Friend</a>
</p>

<p>
<a href="/my_friends">View My Friends</a>
</p>

<p>
<a href="/dashboard">View My Dashboard</a>
</p>