
<h1>Update: <%= @user.first_name %> <%= @user.last_name %></h1>

<form action="/submit/update_user" method="post">
  <p>Email: <input type="text" name="email" value="<%= @user.email %>"></p>
  <p>Password: <input type="text" name="password" value="<%= @user.password %>"></p>
  <p>First Name: <input type="text" name="first_name" value="<%= @user.first_name %>"></p>
  <p>Last Name: <input type="text" name="last_name" value="<%= @user.last_name %>"></p>
  <input type="submit" value="Edit Account!">
</form>

<form action="/users/delete" method="post">
  <input type="submit" value="Delete Account">
</form>


show a form to update user password and other account info
or delete account?